* {
    margin: 0;
    padding: 0;
}

section {
    max-width: 60vw;
    margin: 0 auto;
}

#title1 {
    color: #E88D67;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 800;
    font-size: 3em;
}

#title2 {
    color: black;
    font-weight: 100;
    font-style: italic;
    padding-left: 24rem;
    font-size: 2em;
}